<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>PSMMC Recruitment</title>
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
      <link type="text/css" rel="stylesheet" href="css/style.css" />
      <link type="text/css" rel="stylesheet" href="css/alert.css" />
      <link rel="shortcut icon" href="images/favicon.ico">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body lang="ar">
<div class="dvLoading hide">
  <div class="progress"><div class="indeterminate"></div></div>
  <img src="images/logo.png" width="300" height="358">
</div>
<div class="">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <!-- Start Header -->
        <div class="card" id="profile-page-header">
          <div class="card-image waves-effect waves-block waves-light">
            <img alt="user background" src="images/user-profile-bg.jpg">                    
          </div>
          <figure class="card-profile-image waves-effect waves-block waves-light">
            <img class="circle z-depth-2 responsive-img" alt="profile image" src="images/avatar.jpg">
          </figure>
          <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large red">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <ul>
              <li><a href="#ChangeProfilePhotos" class="btn-floating tooltipped" data-position="top" data-tooltip="تغيير صور البروفايل"><i class="fa fa-file-image-o" aria-hidden="true"></i></a></li>
              <li><a href="#ChangePassword" class="btn-floating tooltipped" data-position="top" data-tooltip="تغيير كلمة المرور"><i class="fa fa-unlock-alt" aria-hidden="true"></i></a></li>
              <li><a href="index.html" class="btn-floating tooltipped" data-position="top" data-tooltip="تغيير اللغة"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
              <li><a class="btn-floating tooltipped" data-position="top" data-tooltip="خروج"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          <div class="card-content">
            <div class="row">                    
              <div class="col s11 m3 l3 offset-s1 offset-m2 offset-l2 nameM">                        
                <h4 class="card-title grey-text text-darken-4">عبد الله اللحيدان</h4>
                <p class="medium-small grey-text">مصمم واجهات المستخدم</p>                        
              </div>
              <div class="col s4 m2 l2 center-align">
                <h4 class="card-title grey-text text-darken-4">8+</h4>
                <p class="medium-small grey-text">خبرة العمل</p>                        
              </div>
              <div class="col s4 m2 l2 center-align">
                <h4 class="card-title grey-text text-darken-4">12</h4>
                <p class="medium-small grey-text">المهارات</p>                        
              </div>                    
              <div class="col s4 m2 l2 center-align">
                <h4 class="card-title grey-text text-darken-4">الرياض</h4>
                <p class="medium-small grey-text">مكان الإقامة</p>                        
              </div>                    
            </div>
          </div>
          
        </div>
        <!-- End Header -->
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 m12 l8 left">
        <!-- progress bar -->
            <nav>
                <div class="nav-wrapper">
                  <ul>
                    <li>
                    <a href="#personalDiv">
                    <i class="fa fa-user-md" aria-hidden="true"></i><br>شخصية
                    <div class="progress"><div class="determinate" style="width: 100%"></div></div>
                    </a>
                    </li>
                    <li>
                    <a class="disable" href="#contactDiv">
                    <i class="fa fa-address-card" aria-hidden="true"></i><br>تواصل
                    <div class="progress"><div class="determinate" style="width: 0%"></div></div>
                    </a>
                    </li>
                    <li>
                    <a href="#experienceDiv">
                    <i class="fa fa-briefcase" aria-hidden="true"></i><br>خبرات
                    <div class="progress"><div class="determinate" style="width: 70%"></div></div>
                    </a>
                    </li>
                    <li>
                    <a href="#educationDiv">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i><br>تعليم
                    <div class="progress"><div class="determinate" style="width: 30%"></div></div>
                    </a>
                    </li>
                    <li>
                    <a href="#languageDiv">
                    <i class="fa fa-font-awesome" aria-hidden="true"></i><br>لغات
                    <div class="progress"><div class="determinate" style="width: 40%"></div></div>
                    </a>
                    </li>
                  </ul>
                </div>
              </nav>
        <!-- Start Personal Info -->
        <div id="personalDiv" class="card box personal">
          <h2>بيانات شخصية <a href="#PersonalInfo" class="secondary-content tooltipped" data-position="left" data-tooltip="تعديل"><i class="fa fa-pencil" aria-hidden="true"></i></a></h2>
          <ul class="collection">
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-user"></i> الاسم :</span>موسى السيد موسى الصيفي</li>
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-globe"></i> الجنسية :</span>مصري</li>
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-heart"></i> الحالة الاجتماعية :</span>متزوج</li>
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-birthday-cake"></i> تاريخ الميلاد :</span>8 سبتمبر 1985</li>
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-venus-mars	"></i> النوع :</span>ذكر</li>
            </ul>
        </div>
        <!-- End Personal Info -->
        <!-- Start Contact Info -->
        <div id="contactDiv" class="card box personal">
          <h2>بيانات التواصل <a href="#ContactInfo" class="secondary-content tooltipped" data-position="left" data-tooltip="تعديل"><i class="fa fa-pencil" aria-hidden="true"></i></a></h2>
          <ul class="collection">
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-phone-square"></i> جوال :</span> +966560517649</li>
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-envelope"></i> بريد إلكتروني :</span> melsaify@psmmc.med.sa</li>
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-map-marker"></i> مكان الإقامة :</span> الرياض - المملكة العربية السعودية</li>
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-location-arrow"></i> العنوان :</span> 235 طريق الملك عبد العزيز - حي السليمانية</li>
            <li class="collection-item"><span class="titlee"> <i aria-hidden="true" class="fa fa-globe"></i> الموقع الإلكتروني :</span> www.website.com.sa</li>
            </ul>
        </div>
        <!-- End Contact Info -->
        <!-- Start Experience -->
        <div id="experienceDiv" class="card box">
          <h2>الخبرات <a href="#AddExperience" class="secondary-content tooltipped" data-position="left" data-tooltip="أضف خبرة"><i class="fa fa-plus" aria-hidden="true"></i></a></h2>
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="images/logo1.png" alt="" class="circle">
              <span class="title">مصمم واجهات المستخدم</span>
              <p>مدينة الأمير سلطان الطبية العسكرية</p>
              <p class="time">ابريل 2014 - الآن <span>3 سنوات</span> <span>المملكة العربية السعودية</span> <span><a href="#!" class="tooltipped" data-position="top" data-tooltip="تحميل المرفقات"><i class="fa fa-download" aria-hidden="true"></i></a></span> </p>
              <p>
               <ul class="collapsible" data-collapsible="accordion">
                 <li>
                   <div class="collapsible-header"><i class="fa fa-caret-down" aria-hidden="true"></i> شاهد الوصف</div>
                   <div class="collapsible-body"><span>بدأت كمصمم جرافيك في عام 2009. ثم انضممت إلى شركة مقرها القاهرة لحلول الويب. في عام 2010، بدأت عملي المهني على شبكة الإنترنت ومصمم جرافيك.</span></div>
                 </li>
               </ul>
              </p>
                  <a href="#!" class="secondary-content tooltipped delete btn-warning-confirm" data-position="left" data-tooltip="حذف"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
            <li class="collection-item avatar">
              <i class="fa fa-building circle" aria-hidden="true"></i>
              <span class="title">مصمم مواقع نت</span>
              <p>فاير ميديا</p>
              <p class="time">مايو 2012 - أبريل 2014 <span>سنتين</span> <span>البحرين</span> <span><a href="#!" class="tooltipped" data-position="top" data-tooltip="تحميل المرفقات"><i class="fa fa-download" aria-hidden="true"></i></a></span> </p>
              <p>
               <ul class="collapsible" data-collapsible="accordion">
                 <li>
                   <div class="collapsible-header"><i class="fa fa-caret-down" aria-hidden="true"></i> شاهد الوصف</div>
                   <div class="collapsible-body"><span>بدأت كمصمم جرافيك في عام 2009. ثم انضممت إلى شركة مقرها القاهرة لحلول الويب. في عام 2010، بدأت عملي المهني على شبكة الإنترنت ومصمم جرافيك.</span></div>
                 </li>
               </ul>
              </p>
                  <a href="#!" class="secondary-content tooltipped delete btn-warning-confirm" data-position="left" data-tooltip="حذف"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
            <li class="collection-item avatar">
              <i class="fa fa-building circle" aria-hidden="true"></i>
              <span class="title">مصمم جرافيك ومواقع نت</span>
              <p>المركز الدولى</p>
              <p class="time">نوفمبر 2009 - أكتوبر 2013 <span>4 سنوات</span> <span>مصر</span> <span><a href="#!" class="tooltipped" data-position="top" data-tooltip="تحميل المرفقات"><i class="fa fa-download" aria-hidden="true"></i></a></span> </p>
              <p>
               <ul class="collapsible" data-collapsible="accordion">
                 <li>
                   <div class="collapsible-header"><i class="fa fa-caret-down" aria-hidden="true"></i> شاهد الوصف</div>
                   <div class="collapsible-body"><span>بدأت كمصمم جرافيك في عام 2009. ثم انضممت إلى شركة مقرها القاهرة لحلول الويب. في عام 2010، بدأت عملي المهني على شبكة الإنترنت ومصمم جرافيك.</span></div>
                 </li>
               </ul>
              </p>
                  <a href="#!" class="secondary-content tooltipped delete btn-warning-confirm" data-position="left" data-tooltip="حذف"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
            <li class="collection-item avatar">
              <i class="fa fa-building circle" aria-hidden="true"></i>
              <span class="title">مصمم جرافيك</span>
              <p>تواصل</p>
              <p class="time">يناير 2009 - أكتوبر 2009 <span>10 أشهر</span> <span>مصر</span> <span><a href="#!" class="tooltipped" data-position="top" data-tooltip="تحميل المرفقات"><i class="fa fa-download" aria-hidden="true"></i></a></span> </p>
              <p>
               <ul class="collapsible" data-collapsible="accordion">
                 <li>
                   <div class="collapsible-header"><i class="fa fa-caret-down" aria-hidden="true"></i> شاهد الوصف</div>
                   <div class="collapsible-body"><span>بدأت كمصمم جرافيك في عام 2009. ثم انضممت إلى شركة مقرها القاهرة لحلول الويب. في عام 2010، بدأت عملي المهني على شبكة الإنترنت ومصمم جرافيك.</span></div>
                 </li>
               </ul>
              </p>
                  <a href="#!" class="secondary-content tooltipped delete btn-warning-confirm" data-position="left" data-tooltip="حذف"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
            </ul>
        </div>
        <!-- End Experience -->
        <!-- Start Education -->
        <div id="educationDiv" class="card box">
          <h2>التعليم <a href="#AddEducation" class="secondary-content tooltipped" data-position="left" data-tooltip="أضف تعليم"><i class="fa fa-plus" aria-hidden="true"></i></a></h2>
          <ul class="collection">
            <li class="collection-item avatar">
              <i class="fa fa-university circle" aria-hidden="true"></i>
              <span class="title">جامعة المنوفية</span>
              <p>درجة الليسانس فى الأدب الانجليزي</p>
              <p class="time">2002 - 2006<span>مصر</span> </p>
              <p>
               <ul class="collapsible" data-collapsible="accordion">
                 <li>
                   <div class="collapsible-header"><i class="fa fa-caret-down" aria-hidden="true"></i> شاهد الوصف</div>
                   <div class="collapsible-body"><span>دراسة اللغة الانجليزية وادابها</span></div>
                 </li>
               </ul>
              </p>
              <a href="#!" class="secondary-content tooltipped delete btn-warning-confirm" data-position="left" data-tooltip="حذف"><i class="fa fa-trash" aria-hidden="true"></i></a>
  </a>
            </li>
            </ul>
        </div>
        <!-- End Education -->
        <!-- Start Language -->
            <div id="languageDiv" class="card box">
              <h2>اللغات <a href="#AddLanguage" class="secondary-content tooltipped" data-position="left" data-tooltip="أضف لغة"><i class="fa fa-plus" aria-hidden="true"></i>
      </a></h2>
              <ul class="collection">
            <li class="collection-item avatar">
              <i class="fa fa-globe circle" aria-hidden="true"></i>
              <span class="title">الإنجليزية</span>
              <p>متوسط</p>
              <p>
               <ul class="collapsible" data-collapsible="accordion">
                 <li>
                   <div class="collapsible-header"><i class="fa fa-caret-down" aria-hidden="true"></i> شاهد الوصف</div>
                   <div class="collapsible-body"><span>دراسة اللغة الانجليزية وادابها</span></div>
                 </li>
               </ul>
              </p>
              <a href="#!" class="secondary-content tooltipped delete btn-warning-confirm" data-position="left" data-tooltip="حذف"><i class="fa fa-trash" aria-hidden="true"></i></a>
  </a>
            </li>
            <li class="collection-item avatar">
              <i class="fa fa-globe circle" aria-hidden="true"></i>
              <span class="title">العربية</span>
              <p>جيد</p>
              <p>
               <ul class="collapsible" data-collapsible="accordion">
                 <li>
                   <div class="collapsible-header"><i class="fa fa-caret-down" aria-hidden="true"></i> شاهد الوصف</div>
                   <div class="collapsible-body"><span>دراسة اللغة العربية وادابها</span></div>
                 </li>
               </ul>
              </p>
              <a href="#!" class="secondary-content tooltipped delete btn-warning-confirm" data-position="left" data-tooltip="حذف"><i class="fa fa-trash" aria-hidden="true"></i></a>
  </a>
            </li>
            </ul>
            </div>
            <!-- End Language -->
        <!-- Start Skills -->
        <div class="card box">
          <h2>المهارات <a href="#AddSkills" class="secondary-content tooltipped" data-position="left" data-tooltip="أضف مهارة"><i class="fa fa-plus" aria-hidden="true"></i>
  </a></h2>
          <ul class="collection">
            <li class="collection-item">
              <div class="chip"> تصميم ويب <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> دريم ويفر <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> Bootstrapping <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> Responsive Web Design <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> تصميم واجهات المستخدم <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> HTML5 <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> CSS3 <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> فوتوشوب <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> Flash Animation <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> User Interface Design <i class="fa fa-times close" aria-hidden="true"></i></div>
              <div class="chip"> Interaction Design <i class="fa fa-times close" aria-hidden="true"></i></div>
            </li>
            </ul>
        </div>
        <!-- End Skills -->
        <!-- Start Documents -->
            <div id="documentsDiv" class="card box">
              <h2>المرفقات <a href="#AddEducation" class="secondary-content tooltipped" data-position="left" data-tooltip="أضف مرفق"><i class="fa fa-plus" aria-hidden="true"></i></a></h2>
              <ul class="collection">
                <li class="collection-item avatar">
                  <i class="fa fa-paperclip circle" aria-hidden="true"></i>
                  <span class="title">إقامة</span>
                  <p class="time">رقم الإقامه 2254562147<span><a href="#!" class="tooltipped" data-position="top" data-tooltip="حمل المرفق"><i class="fa fa-download" aria-hidden="true"></i></a></span> </p>
                  <p>
                   <ul class="collapsible" data-collapsible="accordion">
                     <li>
                       <div class="collapsible-header"><i class="fa fa-caret-down" aria-hidden="true"></i>شاهد الوصف</div>
                       <div class="collapsible-body"><span>دراسة اللغة العربية وادابها</span></div>
                     </li>
                   </ul>
                  </p>
                  <a href="#!" class="secondary-content tooltipped delete btn-warning-confirm" data-position="left" data-tooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </li>
                </ul>
            </div>
            <!-- End Documents -->
      </div>
      <div class="col s12 m12 l4 right">
        <h3 class="slider-title">آخر الوظائف</h3>
        <div class="slider">
          <ul class="slides">
            <li>
              <a href="#JobApplying">
              <img src="images/job1.jpg">
              <div class="caption center-align">
                <h3>أخصائي أعصاب</h3>
                <h5>بخبرة تفوق 8 سنوات</h5>
              </div>
              </a>
            </li>
            <li>
              <a href="#JobApplying">
              <img src="images/job2.jpg">
              <div class="caption left-align">
                <h3>مطور دوت نت</h3>
                <h5>بخبرة تفوق 5 سنوات</h5>
              </div>
              </a>
            </li>
            <li>
              <a href="#JobApplying">
              <img src="images/job3.jpg">
              <div class="caption right-align">
                <h3>ممرضات</h3>
                <h5>بخبرة تفوق سنة واحدة</h5>
              </div>
              </a>
            </li>
            <li>
              <a href="#JobApplying">
              <img src="images/job1.jpg">
              <div class="caption center-align">
                <h3>أخصائي أعصاب</h3>
                <h5>بخبرة تفوق 8 سنوات</h5>
              </div>
              </a>
            </li>
            <li>
              <a href="#JobApplying">
              <img src="images/job2.jpg">
              <div class="caption left-align">
                <h3>مطور دوت نت</h3>
                <h5>بخبرة تفوق 5 سنوات</h5>
              </div>
              </a>
            </li>
            <li>
              <a href="#JobApplying">
              <img src="images/job3.jpg">
              <div class="caption right-align">
                <h3>ممرضات</h3>
                <h5>بخبرة تفوق سنة واحدة</h5>
              </div>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="slider-title">عروض وظائف</h3>
        <div class="row" style="margin-bottom:0">
                    <div class="input-field col s12" style="margin:0">
                      <input type="text" id="autocomplete-input" class="autocomplete" style="margin:0">
                      <label for="autocomplete-input">ابحث في الوظائف</label>
                      <i aria-hidden="true" class="fa fa-search search"></i>
                    </div>
                  </div>

            <ul class="collection collapsible">
              <li class="collection-item">طبيب إستشاري تخدير <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري مختبر <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب جلدية <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري أطفال <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري طوارئ <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري طب الأسرة والمجتمع <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">إستشاري الغدد الصماء والسكري <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
             <li class="collection-item">طبيب إستشاري تخدير <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري مختبر <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب جلدية <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري أطفال <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري طوارئ <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري طب الأسرة والمجتمع <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">إستشاري الغدد الصماء والسكري <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري تخدير <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
              <li class="collection-item">طبيب إستشاري مختبر <button class="secondary-content waves-effect waves-light btn btn-success">تقدم</button></li>
            </ul>
            <h3 class="slider-title" style="margin-top:20px;">وظائف مقدم عليها</h3>
                  
            <ul class="collection collapsible">
              <li class="collection-item">طبيب جلدية <button class="secondary-content waves-effect waves-light btn btn-warning-confirm">احذف</button></li>
              <li class="collection-item">طبيب إستشاري مختبر <button class="secondary-content waves-effect waves-light btn btn-warning-confirm">احذف</button></li>
              <li class="collection-item">إستشاري الغدد الصماء والسكري <button class="secondary-content waves-effect waves-light btn btn-warning-confirm">احذف</button></li>
              <li class="collection-item">طبيب إستشاري تخدير <button class="secondary-content waves-effect waves-light btn btn-warning-confirm">احذف</button></li>
              <li class="collection-item">طبيب إستشاري أطفال <button class="secondary-content waves-effect waves-light btn btn-warning-confirm">احذف</button></li>
              <li class="collection-item">طبيب إستشاري طب الأسرة والمجتمع <button class="secondary-content waves-effect waves-light btn btn-warning-confirm">احذف</button></li>
              <li class="collection-item">طبيب إستشاري طوارئ <button class="secondary-content waves-effect waves-light btn btn-warning-confirm">احذف</button></li>
              <li class="collection-item">طبيب إستشاري تخدير <button class="secondary-content waves-effect waves-light btn btn-warning-confirm">احذف</button></li>
            </ul>
        <!--<ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><span class="badge">15</span><span class="new badge">3</span>طبيب إستشاري</div>
            <div class="collapsible-body">
              <div class="collection">
                <a href="#JobApplying" class="collection-item"><span class="new badge"></span>طبيب إستشاري تخدير</a>
                <a href="#JobApplying" class="collection-item"><span class="new badge"></span>طبيب إستشاري مختبر</a>
                <a href="#JobApplying" class="collection-item"><span class="new badge"></span>طبيب جلدية</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري أطفال</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طوارئ</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طب الأسرة والمجتمع</a>
                <a href="#JobApplying" class="collection-item">إستشاري الغدد الصماء والسكري</a>
                <a href="#JobApplying" class="collection-item">إستشاري العناية المركزة</a>
                <a href="#JobApplying" class="collection-item">طبيب الأمراض العصبية</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طوارئ</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طب الأسرة والمجتمع</a>
                <a href="#JobApplying" class="collection-item">إستشاري الغدد الصماء والسكري</a>
                <a href="#JobApplying" class="collection-item">إستشاري العناية المركزة</a>
                <a href="#JobApplying" class="collection-item">طبيب الأمراض العصبية</a>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><span class="badge">20</span>كبير أطباء</div>
            <div class="collapsible-body">
              <div class="collection">
                <a href="#JobApplying" class="collection-item">طبيب إستشاري تخدير</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري مختبر</a>
                <a href="#JobApplying" class="collection-item">طبيب جلدية</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري أطفال</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طوارئ</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طب الأسرة والمجتمع</a>
                <a href="#JobApplying" class="collection-item">إستشاري الغدد الصماء والسكري</a>
                <a href="#JobApplying" class="collection-item">إستشاري العناية المركزة</a>
                <a href="#JobApplying" class="collection-item">طبيب الأمراض العصبية</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طوارئ</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طب الأسرة والمجتمع</a>
                <a href="#JobApplying" class="collection-item">إستشاري الغدد الصماء والسكري</a>
                <a href="#JobApplying" class="collection-item">إستشاري العناية المركزة</a>
                <a href="#JobApplying" class="collection-item">طبيب الأمراض العصبية</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري تخدير</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري مختبر</a>
                <a href="#JobApplying" class="collection-item">طبيب جلدية</a>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><span class="badge">4</span>طبيب</div>
            <div class="collapsible-body">
              <div class="collection">
                <a href="#JobApplying" class="collection-item">طبيب أطفال</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طوارئ</a>
                <a href="#JobApplying" class="collection-item">طبيب إستشاري طب الأسرة والمجتمع</a>
                <a href="#JobApplying" class="collection-item">إستشاري الغدد الصماء والسكري</a>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><span class="badge">18</span>فني</div>
            <div class="collapsible-body">
              <div class="collection">
                <a href="#JobApplying" class="collection-item">أشعة</a>
                <a href="#JobApplying" class="collection-item">المعدات السمعية والبصرية</a>
                <a href="#JobApplying" class="collection-item">أجهزة طبية</a>
                <a href="#JobApplying" class="collection-item">بصريات</a>
                <a href="#JobApplying" class="collection-item">تخطيط المخ والأعصاب</a>
                <a href="#JobApplying" class="collection-item">تعقيم</a>
                <a href="#JobApplying" class="collection-item">أشعة</a>
                <a href="#JobApplying" class="collection-item">المعدات السمعية والبصرية</a>
                <a href="#JobApplying" class="collection-item">أجهزة طبية</a>
                <a href="#JobApplying" class="collection-item">بصريات</a>
                <a href="#JobApplying" class="collection-item">تخطيط المخ والأعصاب</a>
                <a href="#JobApplying" class="collection-item">تعقيم</a>
                <a href="#JobApplying" class="collection-item">أشعة</a>
                <a href="#JobApplying" class="collection-item">المعدات السمعية والبصرية</a>
                <a href="#JobApplying" class="collection-item">أجهزة طبية</a>
                <a href="#JobApplying" class="collection-item">بصريات</a>
                <a href="#JobApplying" class="collection-item">تخطيط المخ والأعصاب</a>
                <a href="#JobApplying" class="collection-item">تعقيم</a>
              </div>
            </div>
          </li>
        </ul>-->
      </div>
    </div>
   </div>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l7 s12">
          <h5 class="white-text">تواصل معنا</h5>
          <div class="row">
            <form id="loginForm" class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <i class="fa fa-user prefix" aria-hidden="true"></i>
                  <input id="" type="text" class="validate">
                  <label for="">الاسم</label>
                </div>
                <div class="input-field col s6">
                  <i class="fa fa-phone prefix" aria-hidden="true"></i>
                  <input id="email" type="email" class="validate">
                  <label for="email">البريد الإلكتروني</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="fa fa-comment prefix" aria-hidden="true"></i>
                  <textarea id="" class="materialize-textarea"></textarea>
                  <label for="">ملخص</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="modal-action modal-close btn waves-effect waves-light right" type="submit" name="action">حفظ</button>
                </div>
              </div>
              </form>
           </div>
        </div>
        <div class="col l4 offset-l1 s10">
          <h5 class="white-text">من نحن</h5>
          <p>تعد مدينة الأمير سلطان الطبية العسكرية واحدة من أكبر المدن الطبية العسكرية بالمملكة والتي تضم جميع التخصصات الطبية المختلفة والتخصصات الدقيقة لتصبح مرجعاً لجميع  المستشفيات التابعة للخدمات الطبية للقوات المسلحة في كثير من الأمور الطبية والبحثية كما أنها سجلت السبق في العديد من الإنجازات الطبية حيث نجحت بتوفيق من الله ثم بالدعم اللامحدود من قبل قيادات هذا البلد.</p>
        </div>
      </div>
      </div>
    <div class="footer-copyright">
      <div class="container">
        جميع الحقوق محفوظة 2017 © مدينة الأمير سلطان الطبية العسكرية - قسم تكنولوجيا المعلومات
        <a class="grey-text text-lighten-4 right" href="#!">PSMMC</a>
      </div>
      </div>
    </footer>
</div>
        
  <!-- Start Mandatory Data Popup -->
  <div id="MandatoryData" class="modal MandatoryData">
    <div class="modal-content">
      <h4>بيانات شخصية</h4>
      <p class="red-text">فضلاً, إملأ جميع الحقول الآتية حتى تتمكن من استخدام حسابك</p>
        <form class="col s12" id="personalInfoForm">
        <div class="row">
            <div class="input-field col s12 m6 l4">
              <select>
              <option value="" disabled selected>اختر اللقب</option>
              <option value="1">الطبيب</option>
              <option value="2">المهندس</option>
              <option value="3">السيد</option>
              <option value="1">السيدة</option>
            </select>
            <label>اللقب</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <select>
              <option value="" disabled selected>اخر النوع</option>
              <option value="1">ذكر</option>
              <option value="2">أنثى</option>
            </select>
            <label>النوع</label>
            </div>
            <div class="input-field col s12 m6 l4">
            <select>
              <option value="" disabled selected>اختر الديانة</option>
              <option value="2">مسلم</option>
              <option value="1">مسيحي</option>
              <option value="1">يهودي</option>
              <option value="2">أخرى</option>
            </select>
            <label>الديانة</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input ng-model="txtfirstname" name="txtfirstname" id="" type="text" class="validate">
              <label for="">الاسم الأول</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">الاسم الثاني</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">اسم العائلة</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">الاسم الأول (بالانجليزية)</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">الاسم الثاني (بالانجليزية)</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">اسم العائلة (بالانجليزية)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
           	  <label>رقم الهوية / الإقامة</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <select>
              <option value="" disabled selected>اختر الجنسية</option>
              <option value="1">سعودي</option>
              <option value="2">قطري</option>
              <option value="3">كويتي</option>
              <option value="4">مصري</option>
              <option value="5">تونسي</option>
              <option value="6">مغربي</option>
            </select>
            <label>الجنسية</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <select>
              <option value="" disabled selected>اختر الحالة</option>
              <option value="2">أعزب</option>
              <option value="1">متزوج</option>
              <option value="1">أرمل</option>
              <option value="2">مطلق</option>
            </select>
            <label>الحالة الاجتماعية</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input type="date" class="datepicker">
              <label for="">تاريخ الميلاد</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="number" class="validate">
              <label for="">الراتب الشهري</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="number" class="validate">
              <label for="">الراتب المتوقع</label>
            </div>
          </div>
         </form>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light btn-success" type="submit" name="action">حفظ</button>
    </div>
  </div>
  </div>
  <!-- End Mandatory Data Popup -->
  <!-- Start Change Password Popup -->
  <div id="ChangePassword" class="modal">
    <div class="modal-content">
      <h4>تغيير كلمة المرور</h4>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input id="" type="password" class="validate">
              <label for="">كلمة المرور الحالية</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input id="" type="password" class="validate">
              <label for="">كلمة المرور الجديدة</label>
            </div>
          </div>
         </form>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light btn-success disabled" type="submit" name="action">      
      <span class="hide">حفظ</span>
      <div class="la-ball-fall ">
        <div></div>
        <div></div>
        <div></div>
      </div>
      </button>
    </div>
  </div>
  </div>
  <!-- End Change Password Popup -->
  <!-- Start Change Profile Photos Popup -->
  <div id="ChangeProfilePhotos" class="modal">
    <div class="modal-content">
      <h4>تغيير صور البروفايل</h4>
        <form class="col s12">
          <div class="row">
            <div class="file-field input-field">
              <div class="btn">
                <span>صورة البروفايل</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
           </div>
            <div class="row">
            <div class="file-field input-field">
              <div class="btn">
                <span>خلفية البروفايل</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
         </form>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light btn-error" type="submit" name="action">حفظ</button>
    </div>
  </div>
  </div>
  <!-- End Change Profile Photos Popup -->
  <!-- Start Personal Info Popup -->
  <div id="PersonalInfo" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>بيانات شخصية</h4>
        <form class="col s12">
        <div class="row">
            <div class="input-field col s12 m6 l4">
              <select>
              <option value="" disabled selected>اختر اللقب</option>
              <option value="1">الطبيب</option>
              <option value="2">المهندس</option>
              <option value="3">السيد</option>
              <option value="1">السيدة</option>
            </select>
            <label>اللقب</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <select>
              <option value="" disabled selected>اختر النوع</option>
              <option value="1">ذكر</option>
              <option value="2">أنثى</option>
            </select>
            <label>النوع</label>
            </div>
            <div class="input-field col s12 m6 l4">
            <select>
              <option value="" disabled selected>اختر الديانة</option>
              <option value="2">مسلم</option>
              <option value="1">مسيحي</option>
              <option value="1">يهودي</option>
              <option value="2">أخرى</option>
            </select>
            <label>الديانة</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input ng-model="txtfirstname" name="txtfirstname" id="" type="text" class="validate">
              <label for="">الاسم الأول</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">الاسم الثاني</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">اسم العائلة</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">الاسم الاول (بالانجليزية)</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">الاسم الثاني (بالانجليزية)</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">اسم العائلة (بالانجليزية)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
           	  <label>رقم الهوية / الاقامة</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <select>
              <option value="" disabled selected>اختر الجنسية</option>
              <option value="1">سعودي</option>
              <option value="2">قصري</option>
              <option value="3">كويتي</option>
              <option value="4">مصري</option>
              <option value="5">تونسي</option>
              <option value="6">مغربي</option>
            </select>
            <label>الجنسية</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <select>
              <option value="" disabled selected>اختر الحالة</option>
              <option value="2">أعزب</option>
              <option value="1">متزوج</option>
              <option value="1">أرمل</option>
              <option value="2">مطلق</option>
            </select>
            <label>الحالة الاجتماعية</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input type="date" class="datepicker">
              <label for="">تاريخ الميلاد</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="number" class="validate">
              <label for="">الراتب الشهري</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="number" class="validate">
              <label for="">الراتب المتوقع</label>
            </div>
          </div>
         </form>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light btn-success" type="submit" name="action">حفظ</button>
    </div>
  </div>
  </div>
  <!-- End Personal Info Popup -->
  <!-- Start Contact Info Popup -->
  <div id="ContactInfo" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>بيانات التواصل</h4>
        <form class="col s12">
          <div class="row">
            
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">جوال</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">بريد إلكتروني</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <select>
            <option value="" disabled selected>اختر الدولة</option>
            <option value="1">المملكة العربية السعودية</option>
            <option value="2">قطر</option>
            <option value="3">الكويت</option>
            <option value="4">مصر</option>
            <option value="5">تونس</option>
            <option value="6">المغرب</option>
          </select>
          <label>الدولة</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <textarea id="" class="materialize-textarea" data-length="150" class="validate"></textarea>
          	  <label for="">العنوان</label>
            </div>
            </div>
         </form>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light btn-success" type="submit" name="action">حفظ</button>
    </div>
  </div>
  </div>
  <!-- End Contact Info Popup -->
  <!-- Start add Experience Popup -->
  <div id="AddExperience" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>أضف خبرة</h4>
        <form id="formValidate" class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input id="Job_Title" type="text" class="validate">
              <label for="Job_Title">المسمى الوظيفي</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">اسم الشركة</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">المكان</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input type="date" class="datepicker">
              <label for="">الفترة من</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input type="date" class="datepicker">
              <label for="">الفترة إلى</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <div class="switch">
                <label>
                  لا
                  <input type="checkbox">
                  <span class="lever"></span>
                  نعم
                </label>
              </div>
              <p class="switchLabel">أعمل إلى الآن</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <textarea id="" class="materialize-textarea" data-length="150" class="validate"></textarea>
          	  <label for="">الوصف</label>
            </div>
            </div>
         </form>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light btn-success" type="submit" name="action">أضف</button>
    </div>
  </div>
  </div>
  <!-- End add Experience Popup -->      
  <!-- Start Edit Experience Popup -->
  <div id="EditExperience" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>مصمم واجهة المستخدم في مدينة الأمير سلطان الطبية العسكرية</h4>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate" placeholder="مصمم واجهة المستخدم">
              <label for="">المسمى الوظيفي</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate" placeholder="مدينة الأمير سلطان الطبية العسكرية">
              <label for="">اسم الشركة</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate" placeholder="الرياض - المملكة العربية السعودية">
              <label for="">المكان</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input type="date" class="datepicker" placeholder="6 أبريل , 2014">
              <label for="">الفترة من</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input type="date" class="datepicker" placeholder="الآن">
              <label for="">الفترة إلي</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <div class="switch">
                <label>
                  لا
                  <input type="checkbox">
                  <span class="lever"></span>
                  نعم
                </label>
              </div>
              <p class="switchLabel">أعمل إلى الآن</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <textarea id="" class="materialize-textarea" data-length="150" class="validate" placeholder="بدأت كمصمم جرافيك في عام 2009. ثم انضممت إلى شركة مقرها القاهرة لحلول الويب. في عام 2010، بدأت عملي المهني على شبكة الإنترنت ومصمم جرافيك."></textarea>
          	  <label for="">الوصف</label>
            </div>
            </div>
         </form>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light red lighten-1 btn-warning-confirm" type="submit" name="action">حذف</button>
      <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action">رفض</button>
      <button class="modal-action modal-close btn waves-effect waves-light btn-success" type="submit" name="action">قبول</button>
    </div>
  </div>
  </div>
  <!-- End Edit Experience Popup -->
  <!-- Start Add Education Popup -->
  <div id="AddEducation" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>أضف تعليم</h4>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">اسم الجامعة</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">اسم الكلية</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input id="" type="text" class="validate">
              <label for="">المكان</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l4">
              <input type="date" class="datepicker">
              <label for="">تاريخ الالتحاق</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <input type="date" class="datepicker">
              <label for="">تاريخ التخرج</label>
            </div>
            <div class="input-field col s12 m6 l4">
              <div class="switch">
                <label>
                  لا
                  <input type="checkbox">
                  <span class="lever"></span>
                  نعم
                </label>
              </div>
              <p class="switchLabel">مازلت أدرس</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <textarea id="" class="materialize-textarea" data-length="150" class="validate"></textarea>
          	  <label for="">الوصف</label>
            </div>
            </div>
         </form>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light btn-success" type="submit" name="action">أضف</button>
    </div>
  </div>
  </div>
  <!-- End Add Education Popup -->
  <!-- Start Add Skills Popup -->
  <div id="AddSkills" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>أضف مهارة</h4>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <div class="chips chips-initial"></div>
            </div>
          </div>
         </form>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light btn-success" type="submit" name="action">أضف</button>
    </div>
  </div>
  </div>
  <!-- End Add Skills Popup -->
  <!-- Start Job Applying Popup -->
  <div id="JobApplying" class="modal">
    <div class="modal-content">
      <h4>طلب تقدم لوظيفة</h4>
      <h5 class="green-text text-darken-3">طبيب استشاري تخدير</h5>
      <h6><b>وصف الوظيفة</b></h6>
      <p>CHI’s primary care clinic is seeking a skilled Naturopathic Doctor (ND) to complement and augment its collaborative and innovative team. CHI serves a diverse population in the Greater Washington, DC metro area and is committed to leveraging our collective knowledge and skills to improve mind, body and spirit. For more information: www.caseyhealth.org.</p>
      <h6><b>وصف الدور الوظيفي :</b></h6>
      <p>The role of the Naturopathic Doctor (ND) is a full-time position that incorporates the delivery of naturopathic medical services, patient care, oversight of the on-site dispensary and the integrative training program. The ND provides patient care in a team-based primary care and integrative health environment and is an integral part of the patient care team, working in a collaborative fashion with all providers. The ND consults with patients to offer a variety of naturopathic therapeutics such as dietary counseling, lifestyle counseling, natural medicines, and naturopathic physical medicine. The ND promotes health and wellness of CHI patients and helps other CHI providers include naturopathic recommendations into care, as appropriate. This role includes working together with the clinical team to maintain efficient and effective workflows, and supporting an environment of patient safety and satisfaction.</p>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close btn waves-effect waves-light btn-success" type="submit" name="action">قدم الطلب</button>
    </div>
  </div>
  <!-- End Job Applying Popup -->


      <!-- Scripts -->
	  <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/sweetalert.min.js"></script>
      <script type="text/javascript" src="js/custom_AR.js"></script>
      
</body>
</html>
